<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @sale.customer_name %>
</p>

<p>
  <strong>String,:</strong>
  <%= @sale.string, %>
</p>

<p>
  <strong>Merchant address,:</strong>
  <%= @sale.merchant_address, %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @sale.merchant_name %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
